.filter {
  position: relative;
}

.filter__reset {
  position: absolute;
  top: 7px;
  right: 0;
  color: #ccc;
}

.filter__reset:focus-visible {
  outline: 2px solid #A6ADFF;
  border-radius: 4px;
  outline-offset: 2px;
}

.filter__title {
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: 400;
}

.filter__form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.filter__fieldset {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.filter__legend {
  margin-bottom: 12px;
}

.filter__select {
  width: 100%;
}

.filter__range {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.filter__label {
  margin-bottom: 8px;
}

.filter__label:last-child {
  margin-bottom: 0;
}

.filter__input {
  padding: 0 16px;
  flex: 1 1 50%;
  width: 100%;
  height: 32px;
  border: none;
  border-radius: 4px;
  outline: none;
  border: 1px solid transparent;
  transition: all .3s ease-in-out;
}

.filter__input::placeholder {
  color: #ccc;
}

.filter__input:focus-visible {
  border-color: #A6ADFF;
}

.filter__input:hover {
  background-color: #F9FAFF;
}

.filter__checkboxes {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.filter__button {
  padding: 8px 24px;
  border-radius: 4px;
  background-color: #A6ADFF;  
  border: 2px solid transparent;
  transition: all .2s ease-in-out;
  outline: none;
}

.filter__button:focus-visible {
  border-color: #4F58BE;
}

.filter__button:hover {
  color: #FFF;
  background-color: #2A18FF;
}

@media (max-width: 940px) {
  .filter__title {
    position: fixed;
    transform: scale(0);
  }

  .filter__input {
    max-width: 140px;
  }

  .filter__checkboxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 24px 70px;
  }

  .filter__buttons {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  .filter__reset {
    position: static;
  }
}

