.modal {
  position: fixed;
  z-index: 10;
  inset: 0;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.50);
  cursor: pointer;
  overflow-y: auto;
  display: flex;
}

.modal__main {
  position: relative;
  margin: auto;
  cursor: default;
}

.modal__close {
  padding: 0;
  position: absolute;
  top: 12px;
  right: 12px;
  line-height: 0;
  color: #CCC;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: 1px solid transparent;
  border-radius: 4px;
  transition: all .3s linear;
}

.modal__close:focus-visible {
  outline-color: gray;
}

.modal__close:hover {
  color: black;
}

@media (max-width: 640px) {
  .modal {
    padding: 30px 15px;
  }
}
